{% extends "base.html" %}
{% block page_content %}



<div class="container-fluid" style="padding-bottom: 20rem;">
    
    <div class="col-md-8 offset-md-2">

        <h1 style="padding-top: 5rem;">
            <hr>Meet the Team<hr>
        </h1>
        <hr>
        {% for bio in bios %}
        <h2><a href="{% url 'projects_index' post.uuid %}">{{ bio.name }}</a></h2>
        <small>
            {{ post.created_on.date }} |&nbsp;
        </small>
        <p>{{ post.description }}</p>
        {% endfor %}
    </div>


</div>

{% endblock %}