{% extends "base.html" %}
{% load static %}
{% block page_content %}
{% load embed_video_tags %}



<div class="caption" >
 <!---- <img src="{% static 'logo.png' %}" style="height:8rem; width: auto; margin: 1rem;"> -->

    <h1 style = "padding-top: 10rem">CCAP Across The Map</h1>
    <h5>Bringing awareness and prevention from cervical cancer</h5>
   


</div>
<body>

  <header style="padding-top: 5rem">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3000" >
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('{% static 'photo1.jpg'  %}')">
          <div class="carousel-caption d-none d-md-block">
       
        
          </div>
        </div>

        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'photo2.jpg'  %}')">
          <div class="carousel-caption d-none d-md-block">
         
          </div>
        </div>

        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'photo3.jpg'  %}')">
          <div class="carousel-caption d-none d-md-block">
         
     
          </div>
        </div>

        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'photo4.jpg'  %}')">
            <div class="carousel-caption d-none d-md-block">
        
  
            </div>
        </div>


      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
    </div>
  </header>
  

<!----PAGE CONTENT-->


<div id ="background">
    <div class="col-12 narrow" style="padding-top: 5rem;">
        <div class = "underline"> <h1 style="color: #2fbcbb;"> About Us </h1> </div>
        <p style = "padding-top: 1rem" class = "lead">Cervical cancer is one of the most highly preventable cancers because there's a vaccine, the HPV
            vaccine, that prevents most of it. HPV is approximated to cause 70% of cervical cancer cases
            (WHO). Thus, providing access to the HPV vaccine is imperative. Additionally, cervical cancer
            is very treatable when caught in the early stages, so it is really important for women to get
            consistently screened so it can be caught early and treated successfully. </p>

            
            <p class = "lead"><b>CCAP Across The Map, the acronym standing for cervical cancer awareness and prevention, is a nonprofit organization that works to decrease the global rate of cervical cancer through providing cervical 
                health education and increasing access to HPV vaccines and diagnostic screening in under-resourced areas around the world.</b> </p>

            <div id ="video" class = "text-center" style="padding-top: 2rem;">

                {% video posts.0.video as my_video %}
                
            
            
            
                {% video my_video "medium" %}
                {% endvideo %}
            
            <!-- Or embed shortcut: -->
            {% video my_video '800x600' %}
            </div>
            

     </div>
</div>








<div id = "goal">

<div class = "text-center jumbotron">
    <div class = "underline"> <h1 style="color: #2fbcbb;"> Our Impact </h1> </div>
    <p style = "padding-top: 1rem">At CCAP Across the Map, we work very hard to make difference in cervical cancer awarness and prevention all across the world. <br> We give credit to all our 
      <a href = "#"> team members </a> who work hard to run our  <a href = "{% url 'projects'%}">projects </a> and   <a href = "{% url 'events'%}">events</a> </p>

    <div class="row" style="padding-top:1rem">
       
            <div class = "col-sm-3"  >
              <img src = "{% static 'book.svg' %}" style="height: 5rem; width: auto;">
              <h2 style="padding-top: 2rem;">Education Provided</h2>
              <p style="padding-bottom: 1.1rem;">We work to provide education about vaccines and screenings to people</p>
              <h1>20+</h1>
              
            </div>
             
            <div class = "col-sm-3"  >
              <img src = "{% static 'vaccine.svg' %}" style="height: 5rem; width: auto;">
              <h2 style="padding-top: 2rem;">Vaccines Provided</h2>
              <p style="padding-bottom: 2.8rem;"> We work to provide increase access to HPV vaccines</p>
              <h1>53+</h1>
              

          
            </div>

            <div class = "col-sm-3"  >
              <img src = "{% static 'list.svg' %}" style="height: 5rem; width: auto;">
              <h2 style="padding-top: 2rem;">Assements Provided</h2>
              <p style="padding-bottom: 2.8rem;">We work to increase access to screening measures</p>
              <h1>123+</h1>
              
            
            </div>

            <div class = "col-sm-3"  >
              <img src = "{% static 'talking.svg' %}" style="height: 5rem; width: auto;">

              <h2 style="padding-top: 2rem;">Commmunities Benefited</h2>
              <p> We work all across the globe to provide to under-resourced areas increased access to HPV vaccines and education </p>
              <h1>5+</h1>
              
            
            </div>
    
    </div>
  </div>
    

</div>
<!---
<div class = "current">
  <div class = "row">
 
    <div class="col-6 narrow" style="padding-top: 3rem;">
   
      <h1>Current Projects</h1>
      <a  href="#"> Learn More</a>
  
      
      <div id ="current_projects" style="padding-top:2rem;">
        {% for project in projects %}
        <h2><a href="{% url 'projects_index' project.uuid %}">{{ project.title }}</a></h2>
        <small>
            {{ project.created_on.date }} |&nbsp;
        </small>
        <p>{{ project.description }}</p>
        {% endfor %}
      </div>


    </div>


    <div class="col-6 narrow" style="padding-top: 3rem;">
    
        <h1>Current Events</h1>
        <a  href="#"> Learn More</a>
      
        <div id ="current_events" style="padding-top:2rem;">

          {% for event in events %}
          <h2><a href="{% url 'events_index' event.uuid %}">{{ event.title }}</a></h2>
          <small>
              {{ event.created_on.date }} |&nbsp;
          </small>
          <p>{{ event.description }}</p>
          {% endfor %}
      </div>


    </div>

</div>

</div> -->

<div class ="col-12 text-center narrow">
  <div class="underline"><h1 style="color: #2fbcbb;"> Contact Us</h1> </div>
  <p style = "padding-top: 1rem;">Email us at ccapacrossthemap@gmail.com or <a href ="{% url 'contact' %}"> fill the form </a> for partnership and project inquiries</p>

</div>
  
</div>


</body>


{% endblock %}