{% extends "base.html" %}
{% load static %}
{% block page_content %}
{% load embed_video_tags %}



<div class="caption"  >

    <h1>Welcome to</h1>
    <h1>CCAP Across The Map</h1>
    <h3>Bringing awareness and prevention from cervical cancer</h3>

</div>
<body>

  <header style="padding-top: 5rem">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" >
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('{% static 'photo1.jpg'  %}')">
          <div class="carousel-caption d-none d-md-block">
       
        
          </div>
        </div>

        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'photo2.jpg'  %}')">
          <div class="carousel-caption d-none d-md-block">
         
          </div>
        </div>

        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'photo3.jpg'  %}')">
          <div class="carousel-caption d-none d-md-block">
         
     
          </div>
        </div>

        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'photo4.jpg'  %}')">
            <div class="carousel-caption d-none d-md-block">
        
  
            </div>
        </div>


      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
    </div>
  </header>
  

<!----PAGE CONTENT-->


<div id ="background">
    <div class="col-12 narrow" style="padding-top: 5rem;">
        <h1>About Us</h1>
        <p class = "lead">Cervical cancer is one of the most highly preventable cancers because there's a vaccine, the HPV
            vaccine, that prevents most of it. HPV is approximated to cause 70% of cervical cancer cases
            (WHO). Thus, providing access to the HPV vaccine is imperative. Additionally, cervical cancer
            is very treatable when caught in the early stages, so it is really important for women to get
            consistently screened so it can be caught early and treated successfully. </p>

            
            <p class = "lead"><b>CCAP Across The Map, the acronym standing for cervical cancer awareness and prevention, is a nonprofit organization that works to decrease the global rate of cervical cancer through providing cervical 
                health education and increasing access to HPV vaccines and diagnostic screening in under-resourced areas around the world.</b> </p>

            <div id ="video" class = "text-center" style="padding-top: 2rem;">

                {% video posts.0.video as my_video %}
                
            
            
            
                {% video my_video "medium" %}
                {% endvideo %}
            
            <!-- Or embed shortcut: -->
            {% video my_video '800x600' %}
            </div>
            

     </div>
</div>








<div id = "goal">


    <div class="row text-center jumbotron">
       
            <div class = "col-sm-3"  >
              <svg class="bi bi-book" width="5em" height="5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M3.214 1.072C4.813.752 6.916.71 8.354 2.146A.5.5 0 0 1 8.5 2.5v11a.5.5 0 0 1-.854.354c-.843-.844-2.115-1.059-3.47-.92-1.344.14-2.66.617-3.452 1.013A.5.5 0 0 1 0 13.5v-11a.5.5 0 0 1 .276-.447L.5 2.5l-.224-.447.002-.001.004-.002.013-.006a5.017 5.017 0 0 1 .22-.103 12.958 12.958 0 0 1 2.7-.869zM1 2.82v9.908c.846-.343 1.944-.672 3.074-.788 1.143-.118 2.387-.023 3.426.56V2.718c-1.063-.929-2.631-.956-4.09-.664A11.958 11.958 0 0 0 1 2.82z"/>
                <path fill-rule="evenodd" d="M12.786 1.072C11.188.752 9.084.71 7.646 2.146A.5.5 0 0 0 7.5 2.5v11a.5.5 0 0 0 .854.354c.843-.844 2.115-1.059 3.47-.92 1.344.14 2.66.617 3.452 1.013A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.276-.447L15.5 2.5l.224-.447-.002-.001-.004-.002-.013-.006-.047-.023a12.582 12.582 0 0 0-.799-.34 12.96 12.96 0 0 0-2.073-.609zM15 2.82v9.908c-.846-.343-1.944-.672-3.074-.788-1.143-.118-2.387-.023-3.426.56V2.718c1.063-.929 2.631-.956 4.09-.664A11.956 11.956 0 0 1 15 2.82z"/>
              </svg>
              <h2 style="padding-top: 2rem;">Education Provided</h2>
              <p style="padding-bottom: 1.1rem;">We work to provide education about vaccines and screenings to people</p>
              <h1>53</h1>
              
            </div>
             
            <div class = "col-sm-3"  >
              <svg class="bi bi-check-all" width="5em" height="5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992a.252.252 0 0 1 .02-.022zm-.92 5.14l.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486-.943 1.179z"/>
              </svg>
              <h2 style="padding-top: 2rem;">Vaccines Provided</h2>
              <p style="padding-bottom: 2.8rem;"> We work to provide increase access to HPV vaccines</p>
              <h1>53</h1>
              

          
            </div>

            <div class = "col-sm-3"  >
              <svg class="bi bi-file-check" width="5em" height="5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V8h-1v5a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h5V1z"/>
                <path fill-rule="evenodd" d="M15.854 2.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 4.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
              </svg>
              <h2 style="padding-top: 2rem;">Assements Provided</h2>
              <p style="padding-bottom: 2.8rem;">We work to increase access to screening measures</p>
              <h1>53</h1>
              
            
            </div>

            <div class = "col-sm-3"  >
              <svg class="bi bi-people-fill" width="5em" height="5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
              </svg>

              <h2 style="padding-top: 2rem;">Commmunities Benefited</h2>
              <p> We work all across the globe to provide to under-resourced areas increased access to HPV vaccines and education </p>
              <h1>53</h1>
              
            
            </div>
    
    </div>

</div>

<div class = "current">
  <div class = "row">
 
    <div class="col-6 narrow" style="padding-top: 3rem;">
   
      <h1>Current Projects</h1>
      <a  href="#"> Learn More</a>
  
      
      <div id ="current_projects" style="padding-top:2rem;">
        {% for project in projects %}
        <h2><a href="{% url 'projects_index' project.uuid %}">{{ project.title }}</a></h2>
        <small>
            {{ project.created_on.date }} |&nbsp;
        </small>
        <p>{{ project.description }}</p>
        {% endfor %}
      </div>


    </div>


    <div class="col-6 narrow" style="padding-top: 3rem;">
    
        <h1>Current Events</h1>
        <a  href="#"> Learn More</a>
      
        <div id ="current_events" style="padding-top:2rem;">

          {% for event in events %}
          <h2><a href="{% url 'events_index' event.uuid %}">{{ event.title }}</a></h2>
          <small>
              {{ event.created_on.date }} |&nbsp;
          </small>
          <p>{{ event.description }}</p>
          {% endfor %}
      </div>


    </div>

</div>

</div>

<div id="contact">
<div class ="col-12 text-center narrow">
  <h1> Contact Us</h1>
  <p>Email us at ccapacrossthemap@gmail.com or <a href ="{% url 'contact' %}"> fill the form </a> for partnership and project inquiries</p>

</div>
  
</div>


</body>


{% endblock %}