{% extends "base.html" %}
{% block page_content %}


<div id ="contact" >
    
    <div class="text-center" style="padding-top: 8rem;">
        <h1>Contact Us</h1>

        <p class ="lead">Email us at <bold> ccapacrossthemap@gmail.com </bold>  or fill the form below for partnership and project inquiries </p>
    </div>
    
    <div class="d-flex justify-content-center" style="padding-bottom: 5rem; padding-top: 2rem;">


            <form method="post">
                
                {% csrf_token %}
                
                <h5>Your Email: </h5>{{ form.from_email }} <br>
                <h5>Subject:</h5> {{ form.subject}} <br>

               <h5>Message: </h5>{{ form.message }} <br>
                
                <div class="form-actions" style = "margin-top: 2rem;" >

                <div class ="text-center">
                    <button type="submit" >Send</button>
                </div>
             
                </div>
            </form>
            
</div>
   
    

</div>

{% endblock %}
