{% extends "base.html" %}
{% block page_content %}



<div class="container-fluid" style="padding-bottom: 20rem;">
    
    <div class="col-md-8 offset-md-2">

        <h1 style="padding-top: 5rem;">
            <hr>Meet the Team<hr>
        </h1>
        <hr>
        {% for people in group %}
        <div class="row">
            {% for person in people %} 
            <div class="col-4">
                <h2>{{ person }}</a></h2>
            </div>
            {% endfor %}
        </div>
        
        {% endfor %}
    </div>

</div>

{% endblock %}